---
import Layout from "../layouts/Layout.astro";
import ContactCTA from "../components/ContactCTA.astro";
---

<Layout
  title="JJMontalban | Desarrollo web a medida"
  page="page-home"
  description="Desarrollador web full-stack especializado en PHP y JavaScript, con experiencia en WordPress, PrestaShop y frameworks modernos."
>
  <div class="container">

    <!-- HERO -->
    <section>
      <h1>Joaquín J. Montalbán</h1>

      <p>
        Hola, mi nombre es JJ. y soy ingeniero de software que desde hace más de 10 años programo soluciones en PHP y Javascript en distintas plataformas.
      </p>
      <p>Colaboro con agencias, empresas y autónomos, y ofrezco soporte técnico por bolsas de horas, participando en entornos colaborativos y remotos . Si necesitas una solución técnica, escríbeme.</p>

      <a class="cta cta-primary" href="/contacto">Hablemos de tu proyecto</a>
    </section>

    <!-- SERVICIOS -->
    <section>
      <h2>Servicios</h2>
      <p>
        Desarrollo a medida, integraciones, e-commerce o cualquier mejora técnica de
        proyectos existentes.
        <a class="section-link section-link-services" href="/servicios">
          Ver mis servicios
        </a>
      </p>
    </section>

    <!-- PLUGINS / HERRAMIENTAS -->
    <section>
      <h2>Plugins y herramientas</h2>
      <p>
        Colaboro en la medida de lo que puedo con la comunidad y publico
        plugins WordPress, módulos PrestaShop y proyectos Open Source.
        <a class="section-link section-link-plugins" href="/plugins">
          Chequea mis plugins y herramientas publicadas
        </a>
      </p>
    </section>

    <!-- CASOS -->
    <section>
      <h2>Casos de éxito</h2>
      <p>
        Ejemplos de proyectos reales en producción. Desarrollos a medida sobre distintas plataformas.
        <a class="section-link section-link-cases" href="/casos">
          Ver proyectos
        </a>
      </p>
    </section>

    <!-- CTA FINAL -->
    <ContactCTA
      title="¿Tienes un problema técnico que resolver?"
      text="Cuéntame tu proyecto y vemos qué necesitas."
    />

  </div>
</Layout>
