---
const socialLinks = [
  {
    label: "WordPress",
    href: "https://profiles.wordpress.org/jjmontalban/",
    iconUrl: "/icons/wordpress.svg",
  },
  {
    label: "Behance",
    href: "https://www.behance.net/jjmontalban",
    iconUrl: "/icons/behance.svg",
  },
  {
    label: "GitHub",
    href: "https://github.com/jjmontalban",
    iconUrl: "/icons/github.svg",
  },
  {
    label: "LinkedIn",
    href: "https://www.linkedin.com/in/jjmontalban/",
    iconUrl: "/icons/linkedin.svg",
  },
  {
    label: "X",
    href: "https://x.com/jjmontalban",
    iconUrl: "/icons/x.svg",
  },
];
---

<footer class="site-footer">
  <div class="site-footer__inner">
    <p class="site-footer__text">Conecta conmigo en mis perfiles profesionales</p>
    <ul class="site-footer__social" aria-label="Perfiles sociales">
      {socialLinks.map((link) => (
        <li>
          <a class="site-footer__link" href={link.href} aria-label={link.label} rel="me">
            <span
              class="site-footer__icon"
              style={`--icon-url: url('${link.iconUrl}')`}
              aria-hidden="true"
            ></span>
          </a>
        </li>
      ))}
    </ul>
  </div>
</footer>
