---
import Navbar from "../components/Navbar.astro";

interface Props {
  title:string;
  page?:string; // page-home, page-contacto...
}

const { title, page = "" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300..900&display=swap"
  rel="stylesheet"
/>
    <!-- Icons -->
    <script src="https://code.iconify.design/iconify-icon/2.0.0/iconify-icon.min.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>

  <body class={page}>
    <Navbar current={page?.replace("page-", "")} />

    <main class="main">
      <slot />
    </main>

    <script>
      document.documentElement.classList.remove("page-enter");
      requestAnimationFrame(() => {
        document.documentElement.classList.add("page-enter");
      });
    </script>

    <script src="/scripts/nav.js" defer></script>
  </body>
</html>
